.pageNav {
    padding: 5px 10px;
    border: 1px solid #868383;
    color: #fff;
    background-color: #6462624d;
}
li {
    padding: 2px 0px;
}
.pageNav:hover{
    text-decoration: none;
    color: #000;
}
.disabled > #btnPrev, .disabled > #btnNext {
    color: #5c5959;
    border: 1px solid;
    background: #272727;
    padding: 4px 10px;
    margin-top: -5px;
}
.active {
    background: #878585;
}