/* .site-card-wrapper {
  margin-top: 2%;
}
.site-grid-wrapper {
  margin-top: 2%;
}
.chartjs-render-monitor{
background-color: #292929;
}
.ant-card-body {
 background: #292929;
 color: #fff;
 border-top: 1px solid white;
} */